@import "theme-editor.css";
@import url('./main-layout.css');
@import url('./views/rules-view.css');
@import url('./views/features-view.css');
@import url('./views/wiki-view.css');
@import url('views/home-view.css');
@import url('./views/form-view.css');    html {
      --lumo-base-color: rgb(237, 242, 255);
      --lumo-primary-color: rgb(81, 76, 235);
      --lumo-primary-color-50pct: rgba(81, 76, 235, 0.5);
      --lumo-primary-color-10pct: rgba(81, 76, 235, 0.1);

    }